body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* #1B03A3
#EF476F
#696D7D */

h1,h2,h3{
  font-family: 'Roboto', sans-serif;
  color: #1B03A3;
}
h3{
  font-size: 22px;
}
h4,h5,h6,h7{
  font-family: 'Roboto', sans-serif;
  color: #EF476F;
}
p{
  font-family: 'Noto Sans JP', sans-serif;
  color: #696D7D;
}
a{
  font-family: 'Fira Code', monospace; 
  color: #ef476f;
}
