#home{
    height: 100vh;
    padding-left: 150px;
}    
#hero{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content:center;
    justify-items: center;
    height: 100vh;
}
#hero h7{
    font-size: 14px;
    font-family: 'Fira Code', monospace;

}

#hero a{
    width: 40%;
    margin-top: 20px;
    color: #EF476F;
    border: 1px solid #EF476F;

}
#hero a:hover{
    transform: scale(1.05);
    /* font-weight: 700; */
    background-color: rgba(239, 71, 111, 0.5);
}


.name{
    font-size: clamp(40px, 8vw, 80px);font-weight: 700;
letter-spacing: 0.2rem;
}

.title{
    font-size: clamp(40px, 8vw, 80px);    font-weight: 700;
    letter-spacing: 0.2rem;
color:#696D7D;
padding-bottom: 20px;
}
.content{
    width: 80%;
}


#about{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content:center;
    justify-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
#about h1{
    padding-bottom: 20px;
}
.about-content{
    padding-bottom: 20px;
}
.profileImg{
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 100%;
}
.profileImg:hover{
    transform: scale(1.5);
}
.profileDiv{
display: flex;
justify-content: center;
}
.profileOverlay{
    position: absolute;
    background-color: rgba(27, 3, 136, 0.4);
    justify-content: center;
    border-radius: 100%;
    height: 300px;
    width: 300px;
}
.profileUnderlay{
    position: relative;
    background-color: rgba(27, 3, 136, 1);
    justify-content: center;
    border-radius: 100%;
    /* border: 5px solid black; */
    height: 300px;
    width: 300px;
    z-index: -4;
    bottom:0;
    transition: bottom ease 0.5s;
    

}
.profileOverlay:hover{
    background-color: rgba(255, 255, 255, 0);
}
.profileOverlay:hover > .profileUnderlay{
    bottom: -20px;
    left: 20px;
}

.dev-icons{
    display: flex;
    justify-content: space-evenly;
    color: rgba(27, 3, 136, 1);
}

#history{
    padding-top: 40px;
}
.workHistory{
    display: flex;
    justify-content: flex-start;
}
.workDiv{
    padding: 30px 60px;
}
#history button{
    margin-right: 10px;
}
#history hr{
    width: 55%;
}
.employer{
    display: flex;
}
.employer h3{
    padding-right: 15px;
}

.historyActive{
    background-color: rgba(239, 71, 111, 0.5);
}



#portfolio{
    padding-top: 50px;
    margin-bottom: 50px;
}
#portfolio hr{
    margin: 50px 0;
}
.card{
    
    padding: 20px 10px;
    text-align: right;
}

.projDiv{
    position: relative;
    padding: 40px 0;
    min-width: 300px;
}

.projImgDiv{
display: flex;
flex-direction: column;
justify-content: center;
align-content: center;
position:relative;
top: 50px;

}
.projImg{
    height: 100%;
    max-height: 400px;
    width: 130%;
    object-fit: cover;
    object-position: left;
    overflow: hidden;
    margin-left: 10px;
    border-radius: 5px;
    
    
}
.projContentDiv{
    margin-right: 100px;
    position: relative;
    right: 20px;
    z-index: 5;
    border: 2px solid rgba(239, 71, 111, 0.5);
    border-radius: 5px;
    background-color: white;
    text-align: right;
    padding: 20px;
}
.tech{
    display: flex;
    justify-content: flex-end;
}
.techItem{
    font-family: 'Fira Code', monospace; 
    color: #ef476f;    padding-left: 10px;
}

.codeLinks{
    display: flex;
    justify-content: flex-end;
    color: black;

}
.codeLink{
    padding: 5px;
}
.codeLink:hover{
    transform: scale(1.5);
    color: #ef476f;
    
}



#contact{
    padding: 40px 0 80px;
    
}
#contact a{
    width: 40%;
    margin-top: 20px;
    color: #EF476F;
    border: 1px solid #EF476F;
}
#contact a:hover{
    transform: scale(1.05);
    /* font-weight: 700; */
    background-color: rgba(239, 71, 111, 0.5);
}

#links{
    position: fixed;
    bottom: 50px;
    left: 50px;
    display: flex;
    flex-direction: column;
}

.links{
    padding-top: 15px;
}
.links:hover{
    transform: scale(1.5);
}

#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#footer p{
    font-family: 'Fira Code', monospace; 
  color: #ef476f;
}

/* tablet size */
@media only screen and (max-width: 993px) {

    #home{
        padding: 0 40px;
    } 
    
    .projImgDiv{
        display: block;
        top: 0px;
        
        }
        .projImg{
            width: 100%;
            
            margin-left: 0px;
            margin-top: 300px;
            margin: 0px
        }
        .projContentDiv{
            margin-right: 0px;
            position: relative;
            right: 0px;
            margin: 20px 0;
           
        }

        #links{
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: center;
            left: 0;
            bottom: 0;
        }
        .links{
            padding: 10px;
        }

        .footerLinks{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .workDiv{
            padding: 30px 0;
        }


  }